* {
	margin: 0 auto;
}
html, body {
    height: 100%;
    background: linear-gradient(-90deg, #DDD92A, #EAE151)
}
.navbar {
	font-size: 1.25em;
	color: white;
	width: 30%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #2D2A32;
	z-index: 10;
}
.navbar ul {
	list-style-type: none;
}
.navbar ul li {
	display: inline;
}
.navbar ul li a {
	text-decoration: none;
}
#pic {
	position: relative;
	width: 30%;
	height: 30%;
	margin-left: 10%;
	margin-top: 3%;
	margin-right: 3%;
	border-radius: 50%;
	float: left;
	background-image: url(img/cat.jpg);
	background-size: 50% 50%;
	z-index: 20;
}
#text {
	position: relative;
	margin-top: 20%;
	font-size: 1.5em;
	width: 70%;
	text-align: center;
	color: white;
	background: #2D2A32;
	z-index: 15;
}
.wrapper {
	width: 800px;
	height: 800px;
	margin: 0 auto;
}
#aboutme {
	position: relative;
	margin-top: 20%;
	font-size: 1.5em;
	width: 85%;
	text-align: center;
	color: white;
	background: #2D2A32;
	z-index: 10;
}
a:link {
    color: white;
}
a:hover {
    color: #51585b;
}
a:visited {
    color: white;
}
a:active {
    color: #51585b;
}

@media all and (max-width: 480px) {
	.wrapper {
		width: 400px;
		height: 400px;
	}
	.navbar {
		font-size: 1em;
		color: white;
		width: 25%;
		margin: 0 auto;
		background-color: #2D2A32;
		position: fixed;
		top: 0;
	}
	.navbar ul li {
		display: inline-block;
	}
	#text {
		margin-top: 50%;
	}
	#aboutme {
		margin-top: 15%;
	}
}

@media all and (min-width: 481px) and (max-width: 767px) {
	.wrapper {
		width: 600px;
		height: 600px;
	}
	.navbar {
		font-size: 1em;
		color: white;
		width: 40%;
		margin: 0 auto;
		background-color: #2D2A32;
		position: fixed;
		top: 0;
	}
	.navbar ul li {
		display: inline;
	}
}

@media all and (min-width: 992px) {
	html,body {
		background: linear-gradient(-90deg, #EAE151, #EEEFA8);;
	}
}
